<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.howard.ruiyipai">

    <application
        android:name=".RuiYiPaiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pages.home.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pages.lesson.LessonActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".pages.questions.QuestionsActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".pages.stastic.StatisticActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".pages.TestActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".pages.homework.CheckHomeworkActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape"/>
        <activity android:name=".pages.homework.HomeworkDetailActivity"
            android:screenOrientation="landscape"/>


    </application>

</manifest>